<div class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl"
           routerLink="login"
        >
            Car Rental 
        </a>
    </div>
    <div class="navbar-end gap-3">
        <button class="btn btn-outline btn-primary" routerLink="register" routerLinkActive="active">
            Register
        </button>
        <button class="btn btn-primary" routerLink="login" routerLinkActive="active">
            Login
        </button>
    </div>
</div>